$theme-color1: rgb(233, 87, 147);
$theme-color2: rgb(218, 12, 129);
$theme-color3: rgb(148, 11, 146);
$theme-color4: rgb(97, 12, 159);

$theme-color-light: rgb(255, 143, 189);

$font-color-light: white;
$font-color-grey: #c5c5c5;

%bordered {
    border: 2px solid white;
}

%padded {
    padding: 2%;
}

%link {
    color: white;
}

%link:hover {
    color: $font-color-grey;
    text-decoration: underline;
    cursor: pointer;
}

%square-image-container {
        aspect-ratio: 1/1;
        overflow: hidden;
}

%square-image {
    width: 96%;
    height: 96%;
    object-fit: cover;
    border-radius: 50%;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

%square-image-with-hover {
    @extend %square-image;
}

%square-image-with-hover:hover {
    width: 100%;
    height: 100%;
}

.padded {
    @extend %padded;
}

* {
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

textarea, input {
    background-color: $theme-color1;
    color: white;
}

textarea::placeholder, input::placeholder {
    color: white;
}

#routeMap, #startMap, #endMap, #map {
    @extend %bordered;
    height: 300px;
    width: 600px;
}

body {
    background-color: $theme-color4;
    height: 100%;
    width: 100%;
}

select {
    background: $theme-color1;
}

.my-navbar {
    background-color: $theme-color1;
    overflow: hidden;

    margin: 0;
    padding: 2px;

    #left-side {
        display: flex;
        flex-direction: row;

        img {
            width: 100%;
            height: 100%;
        }
    }

    div {
        padding: 2px;
    }
}

.hidden {
    display: none;
}

.my-navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.my-navbar a:hover {
    animation: font-color-light-to-grey 0.25s ease-in;
    color: black;
}

@keyframes font-color-light-to-grey {
    from {
        color: $font-color-light
    }
    to {
        color: black;
    }
}

nav {
    background-color: $theme-color1;
}

.brand-name {
    font-size: 20px;
}

.body {
    @extend %padded;
}

#top-container {
    background-color: $theme-color2;
}

a {
    @extend %link;
}

.link {
    @extend %link;
}

button {
    background-color: $theme-color3;
}

hr {
    border: 2px solid;
    border-image: linear-gradient(to right, $theme-color2, $theme-color3, $theme-color2);
    border-image-slice: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.border-flip {
    display: inline-block;
    padding: 15px;  
    width: 180px;  
    position: relative;  
    text-decoration: none;  
    text-transform: uppercase;  
    font-weight: 600;  
    background: none;  
    border: none;
    color: white;
}  

.border-flip::before {
    content: "";  
    position: absolute;  
    inset: 0px;  
    transform: 
    perspective(350px) rotateX(3600deg);  
    transition: all 2s ease 0.25s;
    border: 3px solid $theme-color3;
}  

.border-flip:hover::before {  
    transition: all 10s ease 0s;  
    transform: perspective(350px) rotateX(-180deg);
}  

.border-flip:focus {
    outline: none;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}  

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}  

.padded {
    @extend %padded;
}

#profile {
    #top-section {
        display: flex;

        #username-div {
            position: relative;
            left: 6%;
        }

        #follow-counts {
            max-width: 25%;
            position: relative;
            left: 40%;
        }
    }

    #profile-info {
        display: flex;
        margin-bottom: 2%;
        height: 60vh;
    
        div {
            margin-left: 2%;
            margin-right: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #pic {
            #profile-pic-container {
                @extend %square-image-container;
                width: 15vw;
                height: 15vw;
            
                img {
                    @extend %square-image;
                }
            }

            #username-div {
                margin-top: 6%;
            }
        }
    
        #info {
            min-width: 50%;
            max-width: 50%;
            height: auto;
            
            #bio {
                @extend %bordered;
                @extend %padded;
                margin-bottom: 2%;
                width: 100%;
                min-height: 70%;
            }
        }
    }
}

#profile-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.profile-card {
    min-width: 150px;
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    
    h3 {
        align-self: center;
    }

    #profile-pic-container {
        @extend %square-image-container;

        img {
            @extend %square-image-with-hover;
        }
    }
}

#people-followed {
    margin-top: 4%;
}

.event {
    @extend %padded;
    @extend %bordered;
    display: flex;

    p {
        margin-bottom: 0.2rem;
    }
}

#map-info {
    margin-top: 4%;

    p {
        margin-bottom: 0.2rem;
    }
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.marker-popup {
    p {
        margin-bottom: 0.2rem !important;
        margin: 0 !important;
    }
}

.leaflet-popup-content {
    p {
        color: black;
    }
}

#key {
    margin-top: 2%;

    h5 {
        display: flex;
        align-items: center;
    }
}

#iconContainer {
    @extend %square-image-container;
    width: 32px;
    height: 32px;

    img {
        @extend %square-image;
    }
}

#icon-404 {
    width: 20%;
    height: 20%;
}

#app {
    .range-slider {
        width: 300px;
        margin: auto;
        text-align: center;
        position: relative;
        height: 6em;
      }
      
      .range-slider input[type=range] {
        position: absolute;
        left: 0;
        bottom: 0;
      }
      
      input[type=number] {
        border: 1px solid #ddd;
        text-align: center;
        font-size: 1.6em;
        -moz-appearance: textfield;
      }
      
      input[type=number]::-webkit-outer-spin-button,
      input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      
      input[type=number]:invalid,
      input[type=number]:out-of-range {
        border: 2px solid #ff6347;
      }
      
      input[type=range] {
        -webkit-appearance: none;
        width: 100%;
      }
}

#show-people-going {
    @extend %link;
}

#people-going {
    height: 50vh;
    width: 100%;
    overflow: auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: $theme-color1;
    cursor: pointer;
    padding: 3%;
    width: 100%;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    background-color: $theme-color1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

