{% extends "runner/layout.html" %}

{% block body %}

    <div id="top-container">
        <div>
            <div id="avatar">
                {% include 'runner/avatar.html' with avatar=user.avatar size=200 %}   
            </div>     
            <button id="save-button">Save Avatar</button>
            <div id="success-message"></div>
            <input type="color" id="colorPicker" name="colorPicker" value="#ffff00">
            <input id="colorInput" value="#ffff00">
            <div id="components" class="row">
                <div class="col-6">
                    <p class="collapsible">Mouths</p>
                    <div id="mouths-selection" class="content flex-start">
                        {% for mouth in mouths %}
                            <div class="component-container">
                                <img id="mouth" class="component" src="/{{ mouth }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <p class="collapsible">Eyes</p>
                    <div id="eyes-selection" class="content flex-start">
                        {% for avatar_eyes in eyes %}
                            <div class="component-container">
                                <img id="eyes" class="component" src="/{{ avatar_eyes }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load static %}
    <script src={% static 'runner/scripts/edit_avatar.js' %}></script>
    
{% endblock %}