<div id="events">
    {% for event in events %}
        <div id="{{ event.id }}" class="event">
            <p id="event-latlng-{{ event.id }}" class="hidden">{{ event.start_point_lat }},{{ event.start_point_lng }}</p>
            <h5><a href="{% url 'runner:event' event.id %}"><span id="title">{{ event.title }}</span></a></h5>
            <table>
                <tr>
                    <th>Distance:</th>
                    <th><span id="distance">{{ event.formatted_distance }}</span></th>
                </tr>
                <tr>
                    <th>Duration:</th>
                    <th><span id="distance">{{ event.formatted_duration }}</span></th>
                </tr>
                <tr>
                    <th>Scheduled for:</th>
                    <th><span id="date">{{ event.date_time.date }}</span>, <span id="time">{{ event.formatted_time }}</span></th>
                </tr>
                <tr>
                    <th>Organised by:</th>
                    <th><a id="organiser" href="{% url 'runner:profile' event.organiser %}">{{ event.organiser }}</a></th>
                </tr>
            </table>
        </div>
    {% empty %}
        <!-- <div class="padded">
            <h3>No events.</h3>
        </div> -->
    {% endfor %}
</div>