<div id="{{ profile.username }}" class="profile-card {% if hidden %}hidden{% endif %}">
    <h3 id="username"><a href="{% url 'runner:profile' profile.username %}">{{ profile.username }}</a></h3>
    <div id="profile-pic-container">
        <a href="{% url 'runner:profile' profile.username %}">
            {% if profile.profile_picture %}
                <img id="profile-pic" src="{{ MEDIA_URL }}{{ profile.profile_picture }}" alt="Profile Picture">
            {% else %}
                {% include 'runner/avatar.html' with avatar=profile.avatar size=150 class='hover-effect' %}
            {% endif %}
        </a>
    </div>
</div>